name: CI

on:
    push:
        branches:
            - napi
    pull_request: {}

jobs:
    check-nodejs-sdk:
        strategy:
            fail-fast: true
            matrix:
                settings:
                    - host: ubuntu-24.04
                      architecture: x86_64
                    - host: ubuntu-24.04
                      architecture: arm64
                    - host: macos-latest
                      architecture: aarch64
                    - host: windows-latest
                      architecture: x64

        runs-on: ${{ matrix.settings.host }}
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: true

            - name: Setup node
              uses: actions/setup-node@v6
              if: ${{ !matrix.settings.docker }}
              with:
                  node-version: 24
                  check-latest: true

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
              if: ${{ !matrix.settings.docker }}
              with:
                  toolchain: stable
                  components: rustfmt, clippy
                  targets: ${{ matrix.settings.target }}

            - name: Check with clippy
              run: cargo clippy -p longport-nodejs --all-features

            - name: Install dependencies
              working-directory: nodejs
              run: yarn install --ignore-scripts --frozen-lockfile --registry https://registry.npmjs.org --network-timeout 300000

            - name: Build
              if: ${{ !matrix.settings.docker }}
              working-directory: nodejs
              run: yarn build:debug

            - name: Move artifacts
              run: |
                  mkdir -p artifacts
                  mv longport.*.node artifacts/
                  yarn artifacts
              working-directory: ./nodejs

            - name: List packages
              run: ls -R ./npm
              shell: bash
              working-directory: ./nodejs
