name: CI

on:
    push:
        branches:
            - napi
    pull_request: {}

jobs:
    check-cpp-sdk:
        strategy:
            fail-fast: true
            matrix:
                os:
                    [
                        ubuntu-24.04,
                        ubuntu-24.04-arm64,
                        windows-latest,
                        macos-15,
                        macos-15-intel,
                    ]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: true

            - name: Install MSBuild
              if: ${{ matrix.os == 'windows-latest' }}
              uses: microsoft/setup-msbuild@v1.1

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  components: rustfmt, clippy

            - name: Get CMake
              uses: lukka/get-cmake@latest

            - name: Install cargo make
              uses: davidB/rust-cargo-make@v1

            - name: Check with clippy
              run: cargo clippy -p longport-c --all-features

            - name: Build with cmake
              run: |
                  cargo make cmake
                  cargo make c
                  cargo make cpp
