name: CI

on:
    push:
        branches:
            - napi
    pull_request: {}

jobs:
    build-python:
        runs-on: ${{ matrix.runs-on }}
        strategy:
            fail-fast: true
            matrix:
                python-version:
                    ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
                runs-on:
                    [
                        "windows-latest",
                        "ubuntu-24.04",
                        "ubuntu-24.04-arm",
                        "macos-15",
                        "macos-15-intel",
                    ]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: true
            - uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
            - name: Build wheels
              uses: PyO3/maturin-action@v1
              with:
                  args: -i python --out dist -m python/Cargo.toml
            - name: Install built wheel
              run: |
                  pip install longport --no-index --find-links dist --force-reinstall
            - name: Upload wheels
              uses: actions/upload-artifact@v4
              with:
                  name: wheels-${{ matrix.runs-on }}-${{ matrix.python-version }}
                  path: dist
